<% if (!req.user) { %>
    <div class="jumbotron">
        <a href="/oauth/youtube" id="youtubeSignin"><i class="fa fa-youtube-play"></i> Sign In with YouTube</a>
    </div>
<% } else { %>
    <div class="jumbotron">
        <span id="microphone" onclick="speechSwitch()">
            <i class="fa fa-microphone"></i>
        </span>

        <br /><br />

        <span class="text-muted" id="recording">Recording..</span>
    </div>
<% } %>
